.border-right-none {
  border-right: none !important;
}

.border-left-none {
  border-left: none !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.btn {
  border: none !important;
}