@import "tailwindcss";

:root {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  font-weight: 300;

  color-scheme: light dark;
  color: #FDFBF5;
  background-color: #1C1C1C;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main: #F2A52A;
  --secondary: #84BDBD;
  --green: #51A733;
  --red: #D01818;
  --blue: #1E4BBE;
  --grey: #D9D9D9;
  --black: #1C1C1C;
  --white: #FDFBF5;
}

a {
  color: var(--black);
  cursor: pointer;
  text-decoration: inherit;
}

a:hover {
  color: var(--blue);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: '100%';
  min-height: 100vh;
  font-size: 16px;
}

h1 {
  line-height: 1.1;
}

h1,h2 {
  font-size: 1.5rem;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

h3,h4,h5,h6 {
  font-size: 1.25rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  background-color: var(--black);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--blue);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  border-color: var(--grey) !important;
  box-shadow: none !important;
  outline: none !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--black);
    background-color: var(--white);
  }
  a:hover {
    color: var(--secondary);
  }
  button {
    background-color: var(--white);
  }
}

@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 20px;
  }
}