@import "tailwindcss";

:root {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  font-weight: 300;

  color-scheme: light dark;
  color: #FDFBF5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main: #F2A52A;
  --main-2: #dda954;
  --secondary: #84BDBD;
  --secondary-2: #48b6b6;
  --green: #51A733;
  --green-2: #66a84e;
  --red: #D01818;
  --blue: #1E4BBE;
  --blue-2: rgb(73, 104, 184);
  --grey: #D9D9D9;
  --grey-2: #a39f9f;
  --black: #1C1C1C;
  --white: #FDFBF5;
}

a {
  color: var(--black) !important;
  cursor: pointer;
  text-decoration: none !important;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: '100%';
  min-height: 100vh;
  font-size: 16px;
}

h1 {
  line-height: 1.1;
}

h1,h2 {
  font-size: 1.5rem;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

h3,h4,h5,h6 {
  font-size: 1.25rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  border-radius: 0.5em;
  cursor: pointer;
  transition: border-color 0.25s;
  border: none;
}

button:active{
  border: none;
}

input {
  border-color: var(--grey) !important;
  box-shadow: none !important;
  outline: none !important;
}

textarea:focus-visible {
  outline: none
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--black);
  }
}

@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 20px;
  }
}